### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csv_path, encoding="utf-8")
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [67]:
#player count
player_count = len(purchase_data_df["SN"].unique())


# add a frame to display 

player_count_df = pd.DataFrame({"Total Players":[player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [68]:
# purchasing unique items
Item_id = len(purchase_data_df["Item ID"].unique())

# average price
a_price = purchase_data_df["Price"].mean()

# number of purchases
purchase = purchase_data_df["Purchase ID"].count()

# total revenue
Revenue = purchase_data_df["Price"].sum()

# Create Data Frame
player_count_df = pd.DataFrame({"Number of Unique Items": [Item_id],
                                "Average Price": [a_price],
                                "Number of Purchases": [purchase],
                                "Total Revenue": [Revenue]
                               })



# changed formating 

player_count_df["Average Price"] = player_count_df["Average Price"].map("${:.2f}".format)
player_count_df["Total Revenue"] = player_count_df["Total Revenue"].map("${:.2f}".format)
player_count_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [69]:
# Gender Counts
Gender_ID = purchase_data_df["Gender"].value_counts()

# Creat Data Frame
Gender_ID_df = pd.DataFrame(Gender_ID)

# Calculate percentage of players gender
Gender_Percentage = (purchase_data_df["Gender"].value_counts() / (purchase_data_df["Gender"].count())) * 100

Gender_ID_df["Percentage of players"] = Gender_Percentage

# Create Data Frame
Gender_Pop_Tally_df = pd.DataFrame(Gender_ID_df)
Gender_Pop_Tally_df

New_Gender_ID_df = Gender_Pop_Tally_df.rename(columns={
    "Gender": "Total_Count",
})


# Clean up styling 
New_Gender_ID_df.style.format({ "Percentage of players":"{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [70]:
# group by gender
Gender_Purchase = purchase_data_df.groupby(["Gender"])

# Purchase count
Gender_Ptotal = Gender_Purchase["Price"].count()

# Average Purchase price for gender
Gender_Paverage = Gender_Purchase["Price"].mean()

# total Purchase price by gender
Gender_Pamount = Gender_Purchase["Price"].sum()

# drop dupilcates SN
Duplicates = purchase_data_df.drop_duplicates(subset ="SN", keep = "first")

grouped_dupli = Duplicates.groupby(["Gender"])

# Normalized totals
PurNormalized = (Gender_Purchase["Price"].sum() / grouped_dupli["SN"].count())


# Data Frame 
New_Gender_IDstats = pd.DataFrame({"Purchase Count": Gender_Ptotal,
                                   "Average Purchase Price": Gender_Paverage,
                                   "Total Purchase Amount": Gender_Pamount,
                                   "Normalized Totals" : PurNormalized
                                 
                                  })


# Clean up styling 
New_Gender_IDstats.style.format({ "Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Amount":"${:,.2f}",
                                  "Normalized Totals":"${:,.2f}"
                                 
                                })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [71]:
# Create bins for age groups

bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
group_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


# Cut Data with bin
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],
                                        bins, labels = group_name)

# group by age
age_group = purchase_data_df.groupby("Age Group")

# create count by age group
total_Acount = age_group["SN"].nunique()

# Percentages for age groups
agepercentage = (total_Acount / player_count) * 100

# Data Frame
Age_ID = pd.DataFrame({"Total Count" : total_Acount, "Percentage of Players" : agepercentage})

Age_ID.index.name = None

# Clean up styling 
Age_ID.style.format({"Percentage of Players" : "{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [72]:
# purchasing count by age
total_agecount = age_group["Age Group"].count()

# Group by for age group 
Age_group = purchase_data_df.groupby(["Age Group"])

# Average price per age group
avg_age_price = Age_group["Price"].mean()

# Total purchase per age group 
Tpurchase_value = Age_group["Price"].sum()

# Normalized Totals
Apurch_pers_perAge = Tpurchase_value / total_Acount

# Create DataFrame
PA_ageData_df = pd.DataFrame({"Purchase count" : total_agecount,
                              "Average Purchase Price" : avg_age_price,
                              "Total Purchase Value" : Tpurchase_value,
                              "Average Purchase Total Per Person" : Apurch_pers_perAge
                             })

# Clean up style
PA_ageData_df.style.format({"Av Purchase Price" : "${:,.2f}",
                            "Total Purchase Value" : "${:,.2f}",
                            "Average Purchase Price" : "${:,.2f}",
                            "Average Purchase Total Per Person" : "${:,.2f}"
                           })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [73]:
# group by SN
big_spenders = purchase_data_df.groupby(["SN"])

# Purchase Count
big_spendersCount = big_spenders["Item ID"].count()

# Average Purchase Price
big_spenders_avg = big_spenders["Price"].mean()

# Total Purchase Value 
big_spenders_total = big_spenders["Price"].sum()

# Create DataFrame
big_spenders = pd.DataFrame({"Purchase Count" : big_spendersCount,
                             "Average Purchase Price" : big_spenders_avg,
                             "Total Purchase Value" : big_spenders_total
                            })

big_spenders = big_spenders.sort_values(['Total Purchase Value'],ascending=False)


# Clean up style
big_spenders.head(5).style.format({"Average Purchase Price" : "${:,.2f}",
                         "Total Purchase Value" : "${:,.2f}",
                         })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [74]:
# group by Item ID
popular_items = purchase_data_df.groupby(["Item ID", "Item Name"])

# Purchase Count
popular_item_count = popular_items["Item ID"].count()

# Item Price
popular_item_price = popular_items["Price"].mean()

# Total purchase Values
popular_items_total = popular_items["Price"].sum()


# Create Data Frame
item_summary = pd.DataFrame({"Purchase Count" : popular_item_count,
                             "Item Price" : popular_item_count,
                             "Total Purchase Value" : popular_items_total
                            })


popular_items = item_summary.sort_values(['Purchase Count'], ascending=False)


# Clean up style
popular_items.head(5).style.format({ "Purchase Count" : "{:,.2f}",
                                     "Item Price" : "${:,.2f}",
                                     "Total Purchase Value" : "${:,.2f}"
                                   })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [75]:
# Sorting by Total purchase value

most_profit_items = item_summary.sort_values(['Total Purchase Value'],ascending=False, inplace=False)

# clean up style
most_profit_items.head(5).style.format({ "Item Price" : "${:,.2f}",
                                         "Total Purchase Value" : "${:,.2f}",
                                         "Purchase Count" : "{:,.2f}"
                                       })